body{
    background-color: rgb(0, 0, 0);
    color: #ffe175;
    border-color: #ffe175;
    font-family: Arial, Helvetica, sans-serif;
}

.display-btn{
    margin-bottom: 20px;
    border-radius:15%;
}

dialog{
    background-color: black;
    border-color: #ffe175;
}

.display{
    display:grid

}
.heading{
    display: flex;
    justify-content: space-around;
}
.cards{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
}
th, td {
    padding: 15px;
  }
.card {
    border: 1px #ffe175 solid;
    width: 23vw;
    border-radius:15%;
    padding: 10px;
    height:15vh;
}

button{
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    color: #ffe175;
    background-color: #000000;
    border: 0.08em solid #ffe175;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
}
.hidden{
    display: none;
}

.buttons{
   justify-content: space-around;
}
button span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #ffe175;
    border: 0.08em solid #ffe175;
    box-shadow: 0 0.4em 0.1em 0.019em #ffe175;
  }
  
button:hover {
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #ffe175;
}
  
button span:not(hover) {
    transition: all 1s;
}
   